@font-face {
    font-family: 'Maleha';
    src: url('Maleha.ttf') format('truetype');
}
@font-face {
    font-family: 'TAN-Nimbus';
    src: url('TAN-NIMBUS.otf') format('opentype');
}

.chatbox-container {
    padding: 1.667em 5.556em 3.333em 5.556em; /* top right bottom left */
    max-width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header */
.chatbox-header {
    color: #EC5228; /* Primary Color */
    font-family: 'TAN-Nimbus', sans-serif;
    font-size: 1.667em;
    margin-bottom: 1.111em;
}

/* Chat Window */
.chatbox-window {
    height: 22.222em;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.833em;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* User Message */
.chatbox-user-message {
    background-color: #EC5228; /* Primary Color */
    color: #fff;
    padding: 0.555em 0.833em;
    border-radius: 50px;
    margin: 0.555em;
    text-align: right;
    max-width: 60%;
    align-self: flex-end;
}

/* AI Message */
.chatbox-ai-message {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.555em 0.833em;
    border-radius: 50px;
    margin: 0.555em;
    text-align: left;
    max-width: 60%;
    align-self: flex-start;
}

/* Input Area */
.chatbox-input-area {
    display: flex;
    justify-content: center;
    gap: 0.555em;
    margin-top: 0.555em;
}

/* Input Field */
.chatbox-input {
    flex: 1;
    padding: 0.555em;
    border-radius: 50px;
    border: 1px solid #EC5228; /* Primary Color */
    width: 70%;
    text-align: center;
    margin-top: 1em;
}

/* Send Button */
.chatbox-send-button {
    padding: 0.555em 1.111em;
    background-color: #EC5228; /* Primary Color */
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1.111em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.chatbox-send-button:hover {
    background-color: #161179; /* Green Effect */
}
.chatbox-container img{
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
    margin-right: 0.555em;
}

.chatbox-input-area img {
    width: 1.5em;
    height: 1.5em;
}