@font-face {
    font-family: 'TAN-Nimbus';
    src: url('TAN-NIMBUS.otf') format('opentype');
}
@font-face {
    font-family: 'Maleha';
    src: url('Maleha.ttf') format('truetype');
}
.progresspage .progress-container {
    background-color: #f5f5f5;
    min-height: 150vh;
    padding-top: 1.111em;
    padding-bottom: 2.778em;
}

/* Title */
.progresspage .progress-title {
    color: #EC5228;
    padding-top: 1.111em;
    font-family: 'TAN-Nimbus', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 1px;
}

/* Read Aloud Button */
.progresspage .read-aloud-btn {
    background-color: #EC5228 !important;
    color: #ffffff;
    font-size: 1.1rem;
    margin: 2.222em;
    border-radius: 1.389em;
    border: none;
    cursor: pointer;
}

.progresspage .read-aloud-btn:hover {
    background-color: #161179 !important;
}

/* Feature Buttons */
.progresspage .feature-btn {
    background-color: #EC5228;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.833em;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 4px solid #161179;
    box-shadow: 0 0 0 0 #161179;
    font-weight: 700;
}

.progresspage .feature-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 4px 10px 0 0 #161179;
}

/* Content Box */
.progresspage .content-box {
    background-color: #ffffff;
    padding: 1.111em;
    border-radius: 10px;
    text-align: center;
}

.progress-title img{
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
    margin-top: -0.8em;
}