.animated-staircase-container {
    width: 100%;
    height: 400px;
    background: #090740;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
}

.animated-staircase-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.animated-staircase-steps {
    display: flex;
    align-items: flex-end;
    animation: animated-staircase-moveStairs 10s linear infinite;
    position: absolute;
    bottom: 0;
    left: 0;
}

.animated-staircase-step {
    width: 200px;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, #0C0950, #161179, #261FB3);
}

.animated-staircase-chart {
    position: absolute;
    top: 0;
    left: 0;
    height: 220px;
    width: 100%;
    pointer-events: none;
}

.animated-staircase-path {
    fill: none;
    stroke: url(#animated-staircase-gradient);
    stroke-width: 15;
    marker-end: url(#animated-staircase-arrowhead);
    animation: animated-staircase-moveArrow 10s linear infinite;
}


.progresspng {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: auto;
    z-index: 0;
    filter: brightness(0.6);

}